@font-face {
    font-family: saks-pro;
    src: url(../font-shit/SF-Pro.ttf)
}
body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: saks-pro;
}
#topbar {
    z-index: 10;
    width: 100%;
    height: 70px;
    position: fixed;
    top: -10px;
    left: -1px;
    background-color: rgba(64, 64, 64, 0.25)ff;
    backdrop-filter: blur(10px);
    border-bottom: 1.5px solid rgba(183, 183, 183, 0.25);
    font-family: saks-pro;
    display: flex;
}
#searchinput{
    height: 30px;
    width: 150px;
    border-radius: 25px;
    position: relative;
    top: 25px;
    left: 1180px;
    background: none;
    backdrop-filter: blur(15px);
    z-index: 11;
    transition: all 0.28s ease-in-out;
}
#searchinput:focus{
    width: 200px;
    left: 1130px;
    background-color: black;
    color: white;
    animation: expandshi 0.75s;
}

#main-container {
    position: relative;
    top: 80px;
    left: 50px;
    width: 96%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.meal-card {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: all 0.5s ease;
    border: 1.5px solid rgba(20, 20, 20, 0.25);
    position: relative;
    background-color: rgb(233, 233, 233);
}

.meal-card img {
    width: 200px;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

    @keyframes expandshi {
        0% {width: 150px;}
        25% {width: 220px; transform: scaleY(0.9);}
        45% {width: 190px; transform: scaleY(1.1);}
        60% {width: 205px; transform: scaleY(0.98);}
        85% {width: 198px; transform: scaleY(1.02)}
        100% {width: 200px;}
    }

    @keyframes shrinkshi {
        0% {width: 200px;}
        45% {width: 160px;}
        70% {width: 180px;}
        85% {width: 150px;}
        95% {width: 160px;}
        100% {width: 150px;}
    }