#log-in input:hover {
  background-color: rgb(230, 230, 230);
  color: black;
}
@keyframes expandshi {
  0% {
    width: 200px;
  }
  30% {
    width: 260px;
    transform: scale(1.07);
  }
  50% {
    width: 230px;
    transform: scale(1.02);
  }
  100% {
    width: 250px;
    transform: scale(1.05);
  }
}

#log-in button {
  position: relative;
  top: 50px;
  left: 0px;
  width: 200px;
  height: 50px;
  border-radius: 35px;
  background-color: black;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease-in-out
}

#log-in button:hover {
  background-color: rgb(191, 228, 45);
  border: none;
  color: black;
}
